# -*- coding: utf-8 -*-
<%inherit file="/base.html" />
<%def name="head_tags()">
  <title>About DataFinder</title>
</%def>
<h1>About DataFinder</h1>
<div class="about">
<p>Datafinder is being developed by the <a href="http://www.bodleian.ox.ac.uk/bdlss">Bodleian Digital Library Systems and Services</a> of the <a href="http://www.ox.ac.uk/">University of Oxford</a> as a part of the <a href="http://damaro.oucs.ox.ac.uk/">DaMaRo project</a></p>

<p>The Data Management Rollout at Oxford (DaMaRO) Project is creating a research data management policy for the University and the infrastructure to enable researchers to comply with it.</p>

<p>The Datafinder enables the discovery of data hosted in various places around the University and beyond, including the 'DataBank' and 'VIDAAS'. DataFinder is freely available as a web service.</p>

</div>
