# -*- coding: utf-8 -*-
<%inherit file="/base.html" />
<%def name="head_tags()">
  <title> List of Sources </title>
</%def>
<h1> Create new Source</h1>
<form class="create_silo" method="POST" enctype="multipart/form-data" action="/admin" accept-charset="UTF-8">
<div><label for="newSilo">Source  name (eg 'a' -> /a/datasets/...)</label>
<input type="text" name="silo" id="newSilo"/></div>
<div class="form_helper">The machine readable name of the source, used by the system and in the urls. <br/>
<br/>For example the name <i>sourcea</i> will appear in the url as <i>http://databank/sourcea/...</i></div></li>
<div><label for="newSiloTitle">Title:</label>
<input type="text" id="newSiloTitle" name="title" /></div>
<div><label for="newSiloDescription">Description:</label>
<input id="newSiloDescription" type="textbox" name="description" /></div>
<div><label for="newSiloNotes">Notes:</label>
<input id="newSiloNotes" type="textbox" name="notes" /></div>
<div><label for="newSiloAdministrators">Administrators:</label>
<input id="newSiloAdministrators" type="textbox" name="administrators" /></div>
<div class="form_helper">Separate multiple usernames with a comma</div>
<div><label for="newSiloManagers">Managers:</label>
<input id="newSiloManagers" type="textbox" name="managers" /></div>
<div class="form_helper">Separate multiple usernames with a comma</div>
<div><label for="newSiloUsers">Submitters:</label>
<input id="newSiloUsers" type="textbox" name="users" /></div>
<div class="form_helper">Separate multiple usernames with a comma</div>
<div><label for="newSiloAllocation">Disk Allocation (in Kb):</label>
<input id="newSiloAllocation" type="textbox" name="disk_allocation" /></div>
<div><input type="submit" value="Create new source"/></div>
</form>


