# -*- coding: utf-8 -*-
<%inherit file="/base.html" />
<%def name="head_tags()">
  <title> DataFinder </title>
</%def>

<h1>Welcome to DataFinder</h1>
<div class="intro">
	<p>Browse, search, discover metadata from disparate sources from the web using DataFinder and gain access to the data.</p>
</div>

<div class="pleaseNote">
<p>DataFinder is the hub of the technical infrastructure that will aggregate metadata from disparate sources, provide dataset registration ( through DOIs), and discovery, and location and access details. </p>
<p>You can use DataFinder to Browse, search, discover metadata at any time, from anywhere on the web. You can accomplish these tasks using 
a simple web interface of a hosted instance of DataFinder.</p>

</div>

<div class="bigUp">
<a class="callToAction" href="/deposit_metadata">Deposit Metadata</a>
</div>

<div class="pleaseNote">
<h3>Using the web interface</h3>
<p>To get started, <a href="https://github.com/bhavanaananda/DataFinder/wiki">read this document on the DataFinder wiki</a></p>
</div>


