# -*- coding: utf-8 -*-
<%inherit file="/base.html" />
<%def name="head_tags()">
  <title> List of Sources </title>
</%def>
<%
n = len(c.source_infos)
%>
<h1> List of Sources </h1>
% if c.source_infos and n > 0:
  <p>Number of sources: ${n}</p>
  <div class="silo_list">
  <table summary="list of sources in DataFinder" class="siloList">
  <tr>
    <th>Source title</th>
    <th>Registered By</th>
    <th>Source information last modified</th>
  </tr>
  % for silo in c.source_infos:
    <tr>
    <td><a href="/manage_source/${silo[0]}">${silo[0]}</a></td>
    <td>${silo[1]}</td>
    <td>${silo[2]}</td>
    </tr>
  % endfor
  </table>
  </div>
% else:
  <p>Number of sources: ${n}</p>
% endif

  <div id="editor_view">
  <h2>Edit options</h2>
  <ul class="stateInfo">
  <li><a href="#add_silo" onclick="showhide('add_silo');">
    <img src="/static/styles/images/silo-add-icon-24.png"/>Create new source</a></li>
  <li><a href="#add_user" onclick="showhide('add_user');">
    <img src="/static/styles/images/delete-icon-24.png"/>Delete source</a></li>
  </ul>