# -*- coding: utf-8 -*-
<%inherit file="/base.html" />
<%def name="head_tags()">
  <title> List of Sources </title>
</%def>
<%
n = len(c.source_infos)
%>
<h1> List of  Registered Sources </h1>
% if c.source_infos and n > 0:
  <p>Number of sources: ${n}</p>
  <div class="silo_list">
  <table summary="list of sources in Databank" class="siloList">
  <tr>
    <th>Source title</th>
    <th>Number of data packages in the source</th>
    <th>Manage source</th>
  </tr>
  % for source in c.source_infos:
    <tr>
    <td><a href="/${source}/admin">${c.source_infos[source][0]}</a></td>
    <td>${c.source_infos[source][1]}</td>
    <td>
	    <a href="/${source}/admin">
	    <img src="/static/styles/images/silo-edit-icon-16.png" alt="Edit silo metadata" title="edit ${source}"/></a>
	    <a class="delete" href="/${source}/admin" data-remove="delete_${source}" data-url="/admin">
	    <img src="/static/styles/images/delete-icon-16.png" alt="Delete silo" title="Delete ${source}"/></a>
	</td>
    </tr>
  % endfor
  </table>
  </div>
% else:
  <p>Number of sources: ${n}</p>
% endif


<h1> List of Unregistered Sources </h1>
% if c.source_infos and n > 0:
  <p>Number of sources awaiting admin approval: ${n}</p>
  <div class="silo_list">
  <table summary="list of sources awaiting admin approval" class="siloList">
  <tr>
    <th>Source title</th>
    <th>Approve/Activate</th>
  </tr>
  % for source in c.unregistered_sources:
    <tr>
    <td>${source}</td>    
    <td>
	    <a href="/${source}/approve_source"> 
	    	<img src="/static/styles/images/silo-edit-icon-16.png" alt="Edit silo metadata" title="edit ${source}"/>
	    </a>	    
	</td>
    </tr>
  % endfor
  </table>
  </div>
% else:
  <p>Number of sources: ${n}</p>
% endif

  <div id="editor_view">
  <h2>Edit options</h2>
  <ul class="stateInfo">
  <li><a href="/create_source" onclick="showhide('add_silo');">
    <img src="/static/styles/images/silo-add-icon-24.png"/>Create new source</a></li>
  </ul>