# -*- coding: utf-8 -*-
<%inherit file="/base.html" />
<%def name="head_tags()">
  <title> Manage A Source </title>
</%def>
<h1>Source - ${c.silo_name}</h1>
<!-- src url provided?   allow override ticked?    What needs doing ?-->
<!--       Yes                   Yes               Redirect(303) to source url and let people edit the source metadata.-->
<!--       Yes                   No                Don't Redirect to source url. make a copy of source metadata in the datafinder and let people edit this instead -->
<!--       No                    No                Read only metadata, throw up a message not allowed -->

  <table class="metadata" summary="Register Source Form" >
    <tr><th>Title</th><td></td>
    <tr><th>Machine Name / Silo</th><td></td>
    <tr><th>Source Url</th><td></td>
    <tr><th>Allow Override</th><td></td>
  </table>
  
  <div id="editor_view">
  <h2>Edit options</h2>
  <ul class="stateInfo">
  <li><a href="/list_sources">
    <img src="/static/styles/images/user-group-icon-24.png"/>View registered sources</a></li>
  <li><a href="#add_user" onclick="showhide('add_user');">
    <img src="/static/styles/images/silo-edit-icon-24.png"/>Edit source information</a></li>
  <li><a href="#add_user" onclick="showhide('add_user');">
    <img src="/static/styles/images/delete-icon-24.png"/>Delete source</a></li>
  </ul>
</div>

