<div id="quicksearch">
  <form  id="quicksearchform" action="/search/detailed" method="get">
    <input type="text" id="q" name="q" alt="Search" value>

    <select id="ft" name="ft">
      <option value="silo">Silo</option>
      <option value="dataset">Data Packages</option>
      <option value="item">File Names</option>
      <option value="all">All</option>
    </select>
    <input id="commit" name="search" type="submit" value="SEARCH">
     <a href="http://www.bodleian.ox.ac.uk/ora" target="_blank">Help</a>
  </form>

</div>